<!DOCTYPE HTML>
<html>
<head>
    <title>To-do List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/index.css">
</head>

<body>

<!-- Modal -->
<div class="modal fade" id="saveTodosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">수정하기</button>
                <button type="button" class="btn btn-success">참조하기</button>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <h1>To-Do <small>List</small></h1>
    <form role="form">
        <input id="task" type="text" class="form-control" placeholder="할일을 입력하세요." name="task">
    </form>
    <button id="add_task" type="button" class="btn btn btn-primary">Add</button>

</div>
<div></div>
<ul class="list-unstyled" id="todo"></ul>


<div class="col-md-12">
    <!-- 목록 출력 영역 -->
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">할일</th>
            <th scope="col">작성일시</th>
            <th scope="col">최종수정일시</th>
            <th scope="col">완료처리</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#each todos.content}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a id="td_todo" href="#" role="button" data-toggle="modal" data-target="#saveTodosModal">{{todo}}</a></td>
                <td>{{createdTime}}</td>
                <td>{{modifiedTime}}</td>
                <td>{{completeYn}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>



<!-- Modal 영역 -->
<!--<div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="savePostsLabel">게시글 등록</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form>-->
                    <!--<div class="form-group">-->
                        <!--<label for="title">제목</label>-->
                        <!--<input type="text" class="form-control" id="modal_todo">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="author"> 참조 할일</label>-->
                        <!--<input type="text" class="form-control" id="modal_ref_todo">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="content"> 완료 </label>-->
                        <!--<textarea class="form-control" id="complete_yn" ></textarea>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn btn-secondary" data-dismiss="modal">취소</button>-->
                <!--<button type="button" class="btn btn btn-primary" id="btn-save">등록</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>


<!--custom js 추가-->
<script src="/js/app/index.js"></script>


</body>